body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
    background-color: #4B0082;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    align-items: center;
    display: flex;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}

nav .active a,
nav a:hover {
    background-color: #8A2BE2;
    color: white;
}

#banner {
    background-color: #9370DB;
    height: 670px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.column {
    flex-direction: column;
}

.banner_headline {
    background-image: linear-gradient(to bottom, rgba(75, 0, 130, 0.7), rgba(147, 112, 219, 0.7)), url('../Images/Logo Cronos.png');
    background-position: center;
    background-size: cover;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.banner_headline h1 {
    font-size: 60px;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

.banner_headline h2 {
    font-size: 20px;
    margin-top: 10px;
    color: #FFFFFF;
}

.banner_options {
    height: 210px;
    display: flex;
    justify-content: space-between;
}

.banner1,
.banner2 {
    flex: 1;
    color: white;
    padding: 20px;
    margin: 10px;
}

.banner1 {
    background-color: #BA55D3;
}

.banner2 {
    background-color: #9932CC;
}

.banner_tittle {
    font-size: 20px;
    margin-bottom: 10px;
}

.banner_desc {
    font-size: 12px;
    margin-bottom: 20px;
}

.banner_options a {
    display: inline-block;
    border: 1px solid #fff;
    padding: 5px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

#geral {
    justify-content: center;
    background-color: #D8BFD8;
}

#geral section {
    flex: 2;
    text-align: center;
}

#geral aside {
    flex: 1;
}

#contact {
    background-color: #8A2BE2;
    color: white;
    padding: 50px 0;
    text-align: left;
}

#contact .container {
    display: flex;
    flex-direction: column;
    align-items: left;
    
}

#contact h2 {
    font-size: 36px;
    margin-bottom: 20px;
    margin-left: 400px;
}

.contact_details {
    margin-bottom: 20px;
    text-align: left;
    margin-left: 500px;
}

.social_links {
    display: flex;
    justify-content: left;
    margin-left: 400px;
}

.social_links a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #4B0082;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.social_links a:hover {
    background-color: #6A0DAD;
}

footer {
    background-color: #4B0082;
    color: white;
    text-align: center;
    padding: 20px 0;
    justify-content: center;
}

footer p {
    margin: 0;
}

#Feito {
    justify-content: right;
    margin-right: 30px;
    border-right: 5px;
}

#atualizado {
text-align: center;
justify-content: center;
margin-left: 100px;
margin-right: 10px;
border-right: 2px ;
}